@use './variables';
@use './bookdetail';
@use './createbook-modal';
@use './home';
@use './booklist';
@use './login-signup';
@use './logout';

/* Global styles */
* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3 {
  margin: 0 0 0.5em;
  font-weight: 600;
}
